.spn{
  background-color:rgb(92, 193, 104) ;
  padding: 2.7px;
  height: 20px;
  border-radius: 3px;display: flex;
}
.icon{
  font-size: 14px;
  color: white;
  margin-top: 2px;
}
.example-card:hover
  {
    transform: translate3D(0,-1px,0) scale(1.05);
  
  }
  .example-card{
      border-radius: 10px;
      background-color: white;
  }
  .mat-card-title,.mat-card-subtitle{
      color: black;
      align-items: center;
     }   
  .example-full-width{
    padding-right: 500px;
    background-color: black;
  }   
  .favorite{
    font-size: x-large;
    margin-bottom: 15px;
    color: red;     
  }
  .slider {
    position: relative;
    width: 100%;
    height: 350px;
   background-image: url(src\assets\istockphoto-931308812-612x612.jpg);
   background-size:contain;
    overflow: hidden;
    opacity: 0.8;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 20%;
    color: white;
     font-size: 4.4rem;
      line-height: 1.2;
      font-weight: 400;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  ::placeholder{
    color: black;
    font-weight: bold;
    font-size: large;
  }